<div style="text-align:center">
    
  <h1>
    Welcome to <!--{{ title }}-->
  </h1>
 
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 530 365.33"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:20px;}</style></defs><title>Untitled-3</title><clipPath id="myCircle"><circle class="cls-1" cx="285" cy="182.67" r="172.67"/></clipPath><image width="500" height="350" xlink:href="https://media.self.com/photos/5ada18143cf6f501f02504fc/4:3/w_728,c_limit/Screen%2520Shot%25202018-04-20%2520at%252012.40.27%2520PM.png" clip-path="url(#myCircle)" /><path d="M122.38,201.09c2.9,2.35,3,6.62.83,9.66L97.26,246.5v27.19a6.9,6.9,0,0,1-13.8,0V246.5L57.52,210.75c-2.21-3-2.07-7.31.83-9.66a6.68,6.68,0,0,1,9.66.83l22.36,31.33,22.36-31.33A6.68,6.68,0,0,1,122.38,201.09Z" transform="translate(-56 -57.33)"/><path d="M579.1,280.57a6.83,6.83,0,0,1-6.9-6.9V206.33a6.9,6.9,0,1,1,13.8,0v67.34A6.83,6.83,0,0,1,579.1,280.57Z" transform="translate(-56 -57.33)"/></svg>
 
  <p >~ The community for <span>food lovers</span></p>

  <!-- <div class="food">
    <div><fa-icon [icon]="hamburger"></fa-icon><p>Fast</p></div>
    <div><fa-icon [icon]="cookie"></fa-icon><p>Easy</p></div>
    <div><fa-icon [icon]="drumstick"></fa-icon><p>Yummy</p></div>
  </div> -->
  
</div>
