<div class="sign-up">
    <div class="forms">
      <h1>Sign In</h1>
      <form [formGroup]="loginForm" (ngSubmit)="loginAccount()">
        <input placeholder="E-mail..." type="text" formControlName="email">
        <input placeholder="Password..." type="password" formControlName="password">
        <!-- <button>Sign In</button> -->
        <div class="row">
            <!-- <label for="rem"><input name="rem" type="checkbox">  Remember Me</label> -->
            <button>Sign In</button>
        </div>
    </form>
    </div>
  </div>
  