<div class="recipe-page" *ngIf="recipe">
  <div class="recipe">

    <!-- <a href="/" class="goback">
      x
    </a> -->

    <div class="recipe-detail">
      <ul>

        <h2 class="recipe-name">
          {{ recipe.name }}
        </h2>

        <li *ngIf="recipe.source.sourceDisplayName">
          <i>
            <a style="color: gray;
              text-decoration: none;;"
              target="_blank"
              href="{{recipe.source.sourceRecipeUrl}}">
              "{{recipe.source.sourceDisplayName}}"
            </a>
          </i>
        </li>

        <li *ngIf="recipe.images[0].hostedLargeUrl">
          <div class="round-image">
            <img class="recipe-img" src="{{recipe.images[0].hostedLargeUrl}}">
          </div>
        </li>

        <li *ngIf="recipe.prepTime">
          <b>Preperation:</b> {{ recipe.prepTime }}
        </li>

        <li *ngIf="recipe.cookTime">
          <b>Cooking:</b> {{ recipe.cookTime }}
        </li>

        <li *ngIf="recipe.totalTime">
          <b>Total time:</b> {{ recipe.totalTime }}
        </li>

        <li *ngIf="recipe.numberOfServings">
          <b>Serves:</b> {{ recipe.numberOfServings }}
        </li>

        <span *ngIf="auth.isLoggedIn()">
          <button *ngIf="!already" (click)="saveRecipe()" class="save">
            <fa-icon style="font-size: 16px;" [icon]="heart"></fa-icon>
          </button>
        </span>

      </ul>
    </div>

    <div class="recipe-ingredients">
      <h2>Ingredients</h2>
      <ul *ngIf="recipe.ingredientLines" class="ingredients-card">
        <li *ngFor="let line of recipe.ingredientLines; let i = index">
          <!-- <b>{{i + 1}}.</b>  -->
          {{ line }}
        </li>
      </ul>
    </div>

  </div> 
</div>