.nav {
  /* background: #eeeeee; */
  margin-bottom: 60px;
  /* justify-content: center; */
  justify-content: space-between;
  display: flex;
  position: fixed;
  width: 100vw;
  background: #ffffff63;
}

.sign {
  font-weight: 100;
  color: #e2e2e2;
  letter-spacing: 1px;
}

li fa-icon {
  background: #a2a2a2a1;
  padding: 5px 8px;
  border-radius: 150px;
  width: 40px;
  color: white;
}

li fa-icon:hover {
  background: #454545;
}

fa-icon:hover {
  color: #4b4b4b;
}

.search {
  background: none;
  border: none;
  font-size: 15px;
  /* padding-left: 3px; */
  height: 43px;
  color: #c1c1c1;
  margin: 0px 20px 0px 110px;
  float: right;
}

ul {
  align-self: center;
  display: flex;
  width: 33vw;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
}
.navigation {
  width: 33vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav li {
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  font-size: 20px;
}

input {
  border-radius: 100px;
  /* border: 2px solid black; */
  border: none;
  background: #e2e2e2;
  text-indent: 10px;
  height: 30px;
  /* margin-top: 3px; */
  margin-right: 2px;
  width: 160px;
}

.nav li:hover {
  color: gray;
}