<div class="nav">
  <div class="nav-1">
    <ul class="sign">

      <li routerLink="/register" *ngIf="!auth.isLoggedIn()" onClick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);}, 500)">
        Sign Up
      </li>
      
      <li routerLink="/login" *ngIf="!auth.isLoggedIn()" onClick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);}, 500)">
        Sign in
      </li>

      <li (click)="auth.logout()" *ngIf="auth.isLoggedIn()" onClick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);}, 500)">
        Logout
      </li>
    </ul>
  </div>

  <div class="nav-3">
    <button *ngIf="auth.isLoggedIn()" class="search" routerLink="/saved" onClick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);}, 500)">
      <fa-icon [icon]="heart"></fa-icon>
    </button>

    <button *ngIf="!auth.isLoggedIn()" class="search" routerLink="/login" onClick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);}, 500)">
      <fa-icon [icon]="heart"></fa-icon>
    </button>

    <button class="search" routerLink="/recipes" onClick="window.scrollTo(0,document.body.scrollHeight);">
      <fa-icon [icon]="search"></fa-icon>
    </button>
  </div>
</div>