
.icone {
    margin-top: 40px;
   font-size: 80px;
}

li fa-icon {
    background: #a2a2a2a1;
    padding: 5px 8px;
    border-radius: 150px;
    width: 40px;
    color: white;
}

/* .home fa-icon:hover {
    color: yellow;
}
.book fa-icon:hover{
    color: lightseagreen;
} 
.list fa-icon:hover {
    color: green;
}

.user fa-icon:hover {
    color: rgb(255, 140, 0);
} */
.heart fa-icon:hover {
    color: rgb(255, 0, 76);
}

li fa-icon:hover {
    background: #454545;
  
}

fa-icon:hover {
    color: #4b4b4b;
   
}

.icone span{
    margin: 30px;
}

p{
    margin: auto;
    width: 350px;
    padding: 40px 0px;
    line-height: 28px;
}

p span{
    font-style: italic;
    font-weight: bold;
}

ul {

    align-self: center;
    display: flex;
 
    width: 20vw;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;

}

.nav {
    /* background: #eeeeee; */
    margin-bottom: 60px;
    /* justify-content: center; */
    justify-content: space-between;
    display: flex;
    position: fixed;
    width:100vw;
    background: #ffffff63;
    
}


.nav li{
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-size: 20px;
}

/* .nav li:hover{
    font-weight: bold;
    letter-spacing:2em;
    text-transform: uppercase;
} */


input {
    border-radius: 100px;
    /* border: 2px solid black; */
    border:none;
    background: #e2e2e2;
    text-indent: 10px;
    height: 30px;
    /* margin-top: 3px; */
    margin-right:2px;
    width: 160px;
}

#search {
    background: none;
    border: none;
    font-size: 15px;
    /* padding-left: 3px; */
    height: 43px;
    color: #c1c1c1;
    margin: 0px 20px 0px 110px;
}


#sign {
    font-weight: 100;
    color:  #e2e2e2;
    letter-spacing: 1px;
}

.nav li:hover  {
    color:gray;
}


#ing {
    background-color: #e2e2e2;
    border-radius:10px;
}



#bar {
    height: 300px;
}