<div class="saved-page">
  <h2>Saved Recipes</h2>

  <div class="list">
    <span *ngIf="recipes">
      <span *ngFor="let recipe of recipes">
     
        <div class="item">
          <a routerLink="/recipe/{{ recipe.id }}" class="item">
            <div class="savedimg">
              <img src="{{ recipe.images[0].hostedLargeUrl }}" />
            </div>
            <div class="item-center name">
              {{ recipe.name }}
            </div>
            <!-- <div class="item-center" (click)="unsaveRecipe(recipe.id)">
              ✖
            </div> -->
          </a>
          <div class="item-center" (click)="unsaveRecipe(recipe.id)" onclick="setTimeout(function(){location.reload();}, 1000)">
            ✖
          </div>
        </div>
       
      </span>
    </span>
  </div>
  
</div>
