<div class="saved-page">
  <h2>Saved Recipes</h2>

  <div class="list">

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div
          style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/Wuq7ItqB4WRLAs4VuYE5L35KJulcY8-QWmcKKKt7yXhy8bP8wgeMmBksg8SOUHF6tnUu-Rt-DoF93O4VJ548bv8=s360"/>
        </div>
        <div class="item-center name">
          Fish Florentine
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/EhzKpBo_6735Gv7nKj-mvqJkYvlADUcxtUSDhRFxXhZSIHUoG7bVyg93d4oWQ37aKED90wWnKKi04mohWYRI=s360"/>
        </div>
        <div class="item-center name">
          Lemon Butter Garlic Shrimp With Angel Hair Pasta
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/pz8mekWKJMP-8amwojc56nChQasCTt6Z1pfarhRBhj1NBdRkK7l1XgVyaY8mvEe9LgD1hynQudVw2VVvaKe0=s360"/>
        </div>
        <div class="item-center name">
          10-Minute Skillet Pizza
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/e_uxei65NuMVMXIYe_gdM8bI2EB5QxXeze2fUIJ9M9GfF9uIFa7k5UHVCus1dBYekK8NAt_MGiLJ9LMM_JhATw=s360" />
        </div>
        <div class="item-center name">
          Jamaican Jerk Chicken Salad
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/qf9y-QyCYeTmiTB705AA9vHsN7LlxR_GHyO8-SNm6YfyLC4-AfK30VxN9AIiLS-ywixLbCYFlYhnwVWqbltz=s360" />
        </div>
        <div class="item-center name">
          Keto Pancakes
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/4XJ-ERtU0U0JThA6qrxYEuWm6EZlKviG9OseB5NIPL41Q0vaAg7XnGMLRV-fyRaMbSs3JZ6mGgOUT0DGPWAVAYQ=s360" />
        </div>
        <div class="item-center name">
          My Favorite Brownies
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>



    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div
          style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/Wuq7ItqB4WRLAs4VuYE5L35KJulcY8-QWmcKKKt7yXhy8bP8wgeMmBksg8SOUHF6tnUu-Rt-DoF93O4VJ548bv8=s360"/>
        </div>
        <div class="item-center name">
          Fish Florentine
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/EhzKpBo_6735Gv7nKj-mvqJkYvlADUcxtUSDhRFxXhZSIHUoG7bVyg93d4oWQ37aKED90wWnKKi04mohWYRI=s360"/>
        </div>
        <div class="item-center name">
          Lemon Butter Garlic Shrimp With Angel Hair Pasta
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/pz8mekWKJMP-8amwojc56nChQasCTt6Z1pfarhRBhj1NBdRkK7l1XgVyaY8mvEe9LgD1hynQudVw2VVvaKe0=s360"/>
        </div>
        <div class="item-center name">
          10-Minute Skillet Pizza
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/e_uxei65NuMVMXIYe_gdM8bI2EB5QxXeze2fUIJ9M9GfF9uIFa7k5UHVCus1dBYekK8NAt_MGiLJ9LMM_JhATw=s360" />
        </div>
        <div class="item-center name">
          Jamaican Jerk Chicken Salad
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/qf9y-QyCYeTmiTB705AA9vHsN7LlxR_GHyO8-SNm6YfyLC4-AfK30VxN9AIiLS-ywixLbCYFlYhnwVWqbltz=s360" />
        </div>
        <div class="item-center name">
          Keto Pancakes
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

    <a href="/recipe/My-Favorite-Brownies-1855830">
      <div class="item">
        <div style="
          height: 70px;
          width: 70px;
          border-radius: 70px;
          overflow: hidden;"
        >
          <img src="https://lh3.googleusercontent.com/4XJ-ERtU0U0JThA6qrxYEuWm6EZlKviG9OseB5NIPL41Q0vaAg7XnGMLRV-fyRaMbSs3JZ6mGgOUT0DGPWAVAYQ=s360" />
        </div>
        <div class="item-center name">
          My Favorite Brownies
        </div>
        <div class="item-center">
          ✖
        </div>
      </div>
    </a>

  </div>

</div>
