.search-bar{
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px grey;
}
.search {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width:100vw;
    background: #ffffff63;
}

.search li{
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-size: 10px;
    /* width: 10vw; */
}

.search li:hover  {
    color:gray;
}

input[type="checkbox" i] {
    height: unset;
    vertical-align: middle;
    -webkit-appearance: radio;
}

.search-options {
    display: flex;
    flex-flow: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #ececec;
    padding: 0;
    
}

.search-options > li{
    padding: 5px 10px 5px 10px;
    border-radius: 60px;
    font-size: 15px;
 
}
  
.search-options > form {
    display: flex;
    flex-direction: row;
    width: 98vw;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
}


.search-input {
    display: flex;
    flex-flow: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #ececec;
    padding: 10px 0 20px 0;
    margin-top: 0;
    /* box-shadow: 0px 2px 4px gray;  */
    z-index: 4;
}
  
.search-input > form {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.search-input > form > input {
    width:95vw; 
    margin: auto; 
    background: white;
    box-shadow: inset 1px 1px 4px grey;
}






.icone {
    margin-top: 40px;
   font-size: 80px;
}

li fa-icon {
    background: #a2a2a2a1;
    padding: 5px 8px;
    border-radius: 150px;
    width: 40px;
    color: white;
}


/* .home fa-icon:hover {
    color: yellow;
}
.book fa-icon:hover{
    color: lightseagreen;
} 
.list fa-icon:hover {
    color: green;
}

.user fa-icon:hover {
    color: rgb(255, 140, 0);
} */
.heart fa-icon:hover {
    color: rgb(255, 0, 76);
}

li fa-icon:hover {
    background: #454545;
  
}

fa-icon:hover {
    color: #4b4b4b;
   
}

.icone span{
    margin: 30px;
}

p{
    margin: auto;
    width: 350px;
    padding: 40px 0px;
    line-height: 28px;
}

p span{
    font-style: italic;
    font-weight: bold;
}

ul {

    align-self: center;
    display: flex;
 
    width: 20vw;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;

}



/* .search li:hover{
    font-weight: bold;
    letter-spacing:2em;
    text-transform: uppercase;
} */



#rc-list{
    display: flex;
    flex-flow: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #ececec;
}

#rc-list li{
  
  padding: 5px 10px 5px 10px;
  border-radius: 60px;

  font-size: 15px;
}

#rc-list > form {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 100px;
    /* border: 2px solid black; */
    border:none;
    background: #e2e2e2;
    text-indent: 10px;
    height: 30px;
    /* margin-top: 3px; */
    margin-right:2px;
    /* width: 160px; */
}

#search {
    background: none;
    border: none;
    font-size: 15px;
    /* padding-left: 3px; */
    height: 43px;
    color: #c1c1c1;
    margin: 0px 20px 0px 110px;
}


#sign {
    font-weight: 100;
    color:  #e2e2e2;
    letter-spacing: 1px;
    width: 35vw;
}




#ing {
    background-color: #e2e2e2;
    border-radius:10px;
}



#bar {
    height: 300px;
}