<div class="search-bar">

  <div class="search">

    <div>
      <ul class="search-options">
        <form #optionsForm="ngForm">
          <li>
            <label>
              <input type="checkbox" ngModel name="diary">
              Diary Free
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ngModel name="gluten">
              Gluten Free
            </label>
          </li>

          <!-- <span style="font-size: 1.4em;">|</span> -->
          <span style="color: #ffffff;">|</span>

          <li>
            <label>
              <input type="checkbox" ngModel name="vegan">
                Vegan
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ngModel name="vegetarian">
              Vegetarian
            </label>
          </li>

          <span style="color: #ffffff;">|</span>

          <li>
            <label>
              <input type="checkbox" ngModel name="starters">
              Starters
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ngModel name="main">
              Main
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ngModel name="sides">
              Sides
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" ngModel name="desserts">
              Desserts
            </label>
          </li>
        </form>
      </ul>
    </div>
   
  </div>
  
  <div class="search-input">
    <form #searchForm="ngForm" (ngSubmit)="sendToUrl(searchForm)">
      <input ngModel name="searchValue" placeholder="Search..." type="text">
    </form>
    <!-- 
    <div id="flex-three">
      <button id="search"><input type="text" placeholder="search.."><fa-icon [icon]="search"></fa-icon></button>
    </div>
    -->
  </div>

</div>