<div class="navbar" id="myTopnav">
 
  <div class="dropdown">
    <button class="dropbtn">yoi
      <i class="fa fa-caret-down"></i>
    </button>
   
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <div class="nav">

        <div id="flex-one">
          <ul id="sign">
            <li>Sign Up</li>
            <li>Sign in</li>
          </ul>
        </div>
      
        <div id="flex-two">
          <ul id="navigation">
            <li class="home"><fa-icon [icon]="home"></fa-icon></li>
            <li class="book"><fa-icon [icon]="book"></fa-icon></li>
            <li class="user"><fa-icon [icon]="user"></fa-icon></li>
            <li class="list"><fa-icon [icon]="list"></fa-icon></li>
            <li class="heart" ><fa-icon [icon]="heart"></fa-icon></li>
          </ul>
        </div>
      
        <div id="flex-three">
          <button id="search"><input type="text" placeholder="search.."><fa-icon [icon]="search"></fa-icon></button>
        </div>
        
      </div>
    </div>
  </div> 

  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>